.app {
	background-color: #C8F5D9;
	color: #062713;
}
.app main section {
	border: 1px solid gray;
	padding: 1em;
	border-radius: 1em;
	margin: 0.6em 0em;
}
.app header h1 {
	margin: 0em;
}
.app header {
	background-color: #59C181;
	border-bottom: 1px solid black;
}
.app main, .app header {
	padding: 1em 2em;
}
